@import "gmdjs"
@import "styles/grid"
@import "styles/training"
// @import "section"

body
  position: relative
  min-width: 320px
  background-color: #f0f0f0
  font-family: "Roboto", sans-serif
  margin: 0
