// Grids
=grid($state: fixed)
  display: flex
  flex-wrap: wrap
  margin:
    left: auto
    right: auto

  @if ($state == fixed)
    +media-xl()
      max-width: $xl - $margin * 2
    +media-lg(down)
      max-width: $lg - $margin * 2
    +media-md(down)
      max-width: $md - $margin * 2
    +media-sm(down)
      max-width: $sm - $margin * 2
    +media-xs()
      max-width: 100%

  @else if ($state == fluid)
    max-width: 100%
