// Grids
=grid ($flex-direction: row, $state: fixed, $columns-custom: $columns)
	display: flex
	flex-wrap: wrap
	margin:
		left: auto
		right: auto

	@if($flex-direction == row && $flex-direction == column)
		flex-direction: $flex-direction

	@if($state == fixed)
		+media-xl()
			max-width: $xl
		+media-lg()
			max-width: $lg
		+media-md()
			max-width: $md
		+media-sm()
			max-width: $sm

	@else if($state == fluid)
		max-width: 100%
