section
  +b.container
    +e.auto.grid__col
      span Auto
    +e.auto.grid__col
      span Auto
    +e.auto.grid__col
      span Auto
    +e.auto.grid__col
      span Auto

  +b.container
    +e.col.grid__col
      span 2
    +e.col-2.grid__col
      span 7
    +e.col-3.grid__col
      span 3

  +b.container
    +e.col.__offset-left.grid__col
      span 2
    +e.col.__offset-auto.grid__col
      span 2
    +e.col.__offset-right.grid__col
      span 2


  +b.container-2
    +e.item-xl.grid__col
      span xl
    +e.item-lg.grid__col
      span lg
    +e.item-md.grid__col
      span md
    +e.item-sm.grid__col
      span sm
    +e.item-xs.grid__col
      span xs
