/* Theme */
$gmd-color-accent: #FF5252
$gmd-color-primary: #00BCD4
$gmd-color-primary-dark: #0097A7
$gmd-color-secondary: #00BCD4

/* Text color light */
$gmd-primary-text-light: rgba(255, 255, 255, 1)
$gmd-secondary-text-light: rgba(255, 255, 255, 0.7)
$gmd-hint-text-light: rgba(255, 255, 255, 0.5)
$gmd-dividers-text-light: rgba(255, 255, 255, 0.12)

/* Text color dark */
$gmd-primary-text-dark: rgba(0, 0, 0, 0.87)
$gmd-secondary-text-dark: rgba(0, 0, 0, 0.54)
$gmd-hint-text-dark: rgba(0, 0, 0, 0.38)
$gmd-dividers-text-dark: rgba(0, 0, 0, 0.12)

/* Material Icons Color */
$gmd-active-icon-dark: rgba(0, 0, 0, 0.54)
$gmd-inactive-icon-dark: rgba(0, 0, 0, 0.38)
$gmd-active-icon-light: rgba(255, 255, 255, 1)
$gmd-inactive-icon-light: rgba(255, 255, 255, 0.5)

/* Material color palette */
/* Red */
$gmd-red-50: #ffebee
$gmd-red-100: #ffcdd2
$gmd-red-200: #ef9a9a
$gmd-red-300: #e57373
$gmd-red-400: #ef5350
$gmd-red-500: #f44336
$gmd-red-600: #e53935
$gmd-red-700: #d32f2f
$gmd-red-800: #c62828
$gmd-red-900: #b71c1c
$gmd-red-A100: #ff8a80
$gmd-red-A200: #ff5252
$gmd-red-A400: #ff1744
$gmd-red-A700: #d50000

/* Pink */
$gmd-pink-50: #fce4ec
$gmd-pink-100: #f8bbd0
$gmd-pink-200: #f48fb1
$gmd-pink-300: #f06292
$gmd-pink-400: #ec407a
$gmd-pink-500: #e91e63
$gmd-pink-600: #d81b60
$gmd-pink-700: #c2185b
$gmd-pink-800: #ad1457
$gmd-pink-900: #880e4f
$gmd-pink-A100: #ff80ab
$gmd-pink-A200: #ff4081
$gmd-pink-A400: #f50057
$gmd-pink-A700: #c51162

/* Purple */
$gmd-purple-50: #f3e5f5
$gmd-purple-100: #e1bee7
$gmd-purple-200: #ce93d8
$gmd-purple-300: #ba68c8
$gmd-purple-400: #ab47bc
$gmd-purple-500: #9c27b0
$gmd-purple-600: #8e24aa
$gmd-purple-700: #7b1fa2
$gmd-purple-800: #6a1b9a
$gmd-purple-900: #4a148c
$gmd-purple-A100: #ea80fc
$gmd-purple-A200: #e040fb
$gmd-purple-A400: #d500f9
$gmd-purple-A700: #aa00ff

/* Deep Purple */
$gmd-deep-purple-50: #ede7f6
$gmd-deep-purple-100: #d1c4e9
$gmd-deep-purple-200: #b39ddb
$gmd-deep-purple-300: #9575cd
$gmd-deep-purple-400: #7e57c2
$gmd-deep-purple-500: #673ab7
$gmd-deep-purple-600: #5e35b1
$gmd-deep-purple-700: #512da8
$gmd-deep-purple-800: #4527a0
$gmd-deep-purple-900: #311b92
$gmd-deep-purple-A100: #b388ff
$gmd-deep-purple-A200: #7c4dff
$gmd-deep-purple-A400: #651fff
$gmd-deep-purple-A700: #6200ea


/* Indigo */
$gmd-indigo-50: #e8eaf6
$gmd-indigo-100: #c5cae9
$gmd-indigo-200: #9fa8da
$gmd-indigo-300: #7986cb
$gmd-indigo-400: #5c6bc0
$gmd-indigo-500: #3f51b5
$gmd-indigo-600: #3949ab
$gmd-indigo-700: #303f9f
$gmd-indigo-800: #283593
$gmd-indigo-900: #1a237e
$gmd-indigo-A100: #8c9eff
$gmd-indigo-A200: #536dfe
$gmd-indigo-A400: #3d5afe
$gmd-indigo-A700: #304ffe


/* Blue */
$gmd-blue-50: #e3f2fd
$gmd-blue-100: #bbdefb
$gmd-blue-200: #90caf9
$gmd-blue-300: #64b5f6
$gmd-blue-400: #42a5f5
$gmd-blue-500: #2196f3
$gmd-blue-600: #1e88e5
$gmd-blue-700: #1976d2
$gmd-blue-800: #1565c0
$gmd-blue-900: #0d47a1
$gmd-blue-A100: #82b1ff
$gmd-blue-A200: #448aff
$gmd-blue-A400: #2979ff
$gmd-blue-A700: #2962ff


/* Light Blue */
$gmd-light-blue-50: #e1f5fe
$gmd-light-blue-100: #b3e5fc
$gmd-light-blue-200: #81d4fa
$gmd-light-blue-300: #4fc3f7
$gmd-light-blue-400: #29b6f6
$gmd-light-blue-500: #03a9f4
$gmd-light-blue-600: #039be5
$gmd-light-blue-700: #0288d1
$gmd-light-blue-800: #0277bd
$gmd-light-blue-900: #01579b
$gmd-light-blue-A100: #80d8ff
$gmd-light-blue-A200: #40c4ff
$gmd-light-blue-A400: #00b0ff
$gmd-light-blue-A700: #0091ea


/* Cyan */
$gmd-cyan-50: #e0f7fa
$gmd-cyan-100: #b2ebf2
$gmd-cyan-200: #80deea
$gmd-cyan-300: #4dd0e1
$gmd-cyan-400: #26c6da
$gmd-cyan-500: #00bcd4
$gmd-cyan-600: #00acc1
$gmd-cyan-700: #0097a7
$gmd-cyan-800: #00838f
$gmd-cyan-900: #006064
$gmd-cyan-A100: #84ffff
$gmd-cyan-A200: #18ffff
$gmd-cyan-A400: #00e5ff
$gmd-cyan-A700: #00b8d4


/* Teal */
$gmd-teal-50: #e0f2f1
$gmd-teal-100: #b2dfdb
$gmd-teal-200: #80cbc4
$gmd-teal-300: #4db6ac
$gmd-teal-400: #26a69a
$gmd-teal-500: #009688
$gmd-teal-600: #00897b
$gmd-teal-700: #00796b
$gmd-teal-800: #00695c
$gmd-teal-900: #004d40
$gmd-teal-A100: #a7ffeb
$gmd-teal-A200: #64ffda
$gmd-teal-A400: #1de9b6
$gmd-teal-A700: #00bfa5


/* Green */
$gmd-green-50: #e8f5e9
$gmd-green-100: #c8e6c9
$gmd-green-200: #a5d6a7
$gmd-green-300: #81c784
$gmd-green-400: #66bb6a
$gmd-green-500: #4caf50
$gmd-green-600: #43a047
$gmd-green-700: #388e3c
$gmd-green-800: #2e7d32
$gmd-green-900: #1b5e20
$gmd-green-A100: #b9f6ca
$gmd-green-A200: #69f0ae
$gmd-green-A400: #00e676
$gmd-green-A700: #00c853


/* Lignt Green */
$gmd-light-green-50: #f1f8e9
$gmd-light-green-100: #dcedc8
$gmd-light-green-200: #c5e1a5
$gmd-light-green-300: #aed581
$gmd-light-green-400: #9ccc65
$gmd-light-green-500: #8bc34a
$gmd-light-green-600: #7cb342
$gmd-light-green-700: #689f38
$gmd-light-green-800: #558b2f
$gmd-light-green-900: #33691e
$gmd-light-green-A100: #ccff90
$gmd-light-green-A200: #b2ff59
$gmd-light-green-A400: #76ff03
$gmd-light-green-A700: #64dd17


/* Lime */
$gmd-lime-50: #f9fbe7
$gmd-lime-100: #f0f4c3
$gmd-lime-200: #e6ee9c
$gmd-lime-300: #dce775
$gmd-lime-400: #d4e157
$gmd-lime-500: #cddc39
$gmd-lime-600: #c0ca33
$gmd-lime-700: #afb42b
$gmd-lime-800: #9e9d24
$gmd-lime-900: #827717
$gmd-lime-A100: #f4ff81
$gmd-lime-A200: #eeff41
$gmd-lime-A400: #c6ff00
$gmd-lime-A700: #aeea00


/* Yellow */
$gmd-yellow-50: #fffde7
$gmd-yellow-100: #fff9c4
$gmd-yellow-200: #fff59d
$gmd-yellow-300: #fff176
$gmd-yellow-400: #ffee58
$gmd-yellow-500: #ffeb3b
$gmd-yellow-600: #fdd835
$gmd-yellow-700: #fbc02d
$gmd-yellow-800: #f9a825
$gmd-yellow-900: #f57f17
$gmd-yellow-A100: #ffff8d
$gmd-yellow-A200: #ffff00
$gmd-yellow-A400: #ffea00
$gmd-yellow-A700: #ffd600


/* Amber */
$gmd-amber-50: #fff8e1
$gmd-amber-100: #ffecb3
$gmd-amber-200: #ffe082
$gmd-amber-300: #ffd54f
$gmd-amber-400: #ffca28
$gmd-amber-500: #ffc107
$gmd-amber-600: #ffb300
$gmd-amber-700: #ffa000
$gmd-amber-800: #ff8f00
$gmd-amber-900: #ff6f00
$gmd-amber-A100: #ffe57f
$gmd-amber-A200: #ffd740
$gmd-amber-A400: #ffc400
$gmd-amber-A700: #ffab00


/* Orange */
$gmd-orange-50: #fff3e0
$gmd-orange-100: #ffe0b2
$gmd-orange-200: #ffcc80
$gmd-orange-300: #ffb74d
$gmd-orange-400: #ffa726
$gmd-orange-500: #ff9800
$gmd-orange-600: #fb8c00
$gmd-orange-700: #f57c00
$gmd-orange-800: #ef6c00
$gmd-orange-900: #e65100
$gmd-orange-A100: #ffd180
$gmd-orange-A200: #ffab40
$gmd-orange-A400: #ff9100
$gmd-orange-A700: #ff6d00


/* Deep Orange */
$gmd-deep-orange-50: #fbe9e7
$gmd-deep-orange-100: #ffccbc
$gmd-deep-orange-200: #ffab91
$gmd-deep-orange-300: #ff8a65
$gmd-deep-orange-400: #ff7043
$gmd-deep-orange-500: #ff5722
$gmd-deep-orange-600: #f4511e
$gmd-deep-orange-700: #e64a19
$gmd-deep-orange-800: #d84315
$gmd-deep-orange-900: #bf360c
$gmd-deep-orange-A100: #ff9e80
$gmd-deep-orange-A200: #ff6e40
$gmd-deep-orange-A400: #ff3d00
$gmd-deep-orange-A700: #dd2c00


/* Brown */
$gmd-brown-50: #efebe9
$gmd-brown-100: #d7ccc8
$gmd-brown-200: #bcaaa4
$gmd-brown-300: #a1887f
$gmd-brown-400: #8d6e63
$gmd-brown-500: #795548
$gmd-brown-600: #6d4c41
$gmd-brown-700: #5d4037
$gmd-brown-800: #4e342e
$gmd-brown-900: #3e2723


/* Grey */
$gmd-grey-50: #fafafa
$gmd-grey-100: #f5f5f5
$gmd-grey-200: #eeeeee
$gmd-grey-300: #e0e0e0
$gmd-grey-400: #bdbdbd
$gmd-grey-500: #9e9e9e
$gmd-grey-600: #757575
$gmd-grey-700: #616161
$gmd-grey-800: #424242
$gmd-grey-900: #212121


/* Blue Grey */
$gmd-blue-grey-50: #eceff1
$gmd-blue-grey-100: #cfd8dc
$gmd-blue-grey-200: #b0bec5
$gmd-blue-grey-300: #90a4ae
$gmd-blue-grey-400: #78909c
$gmd-blue-grey-500: #607d8b
$gmd-blue-grey-600: #546e7a
$gmd-blue-grey-700: #455a64
$gmd-blue-grey-800: #37474f
$gmd-blue-grey-900: #263238

/* White and Black*/
$gmd-black: #000000
$gmd-white: #ffffff
