// Dark text on light backgrounds
$primary-text: rgba(0, 0, 0, 0.87)
$secondary-text: rgba(0, 0, 0, 0.54)
$disabled-text: rgba(0, 0, 0, 0.38)
$dividers-text: rgba(0, 0, 0, 0.12)


// White text on dark backgrounds
$primary-text: rgba(255, 255, 255, 1)
$secondary-text: rgba(255, 255, 255, 0.7)
$disabled-text: rgba(255, 255, 255, 0.5)
$dividers-text: rgba(255, 255, 255, 0.12)