@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

.grid {
  color: white;
  font-family: "Roboto", sans-serif;
}

.grid__col {
  text-align: center;
  background-color: #40C4FF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 8px;
  border-radius: 2px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: #B4B4B4;
}

.container__auto {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
  max-width: calc(100% / 12 * 2 - 24px);
  flex-basis: calc(100% / 12 * 2 - 24px);
}

.container__col {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

.container__col-2 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

.container__col-3 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

.container-2 {
  background-color: #B4B4B4;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

body {
  position: relative;
  min-width: 320px;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container__auto {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 2 - 24px);
    flex-basis: calc(100% / 12 * 2 - 24px);
  }

  .container__col-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 7 - 24px);
    flex-basis: calc(100% / 12 * 7 - 24px);
  }

  .container__col-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 3 - 24px);
    flex-basis: calc(100% / 12 * 3 - 24px);
  }

  .container__offset-left {
    margin-right: calc(100% / 12 * 5 + 24px / 2) !important;
  }
}

@media screen and (min-width: 992px) {
  .container {
    justify-content: flex-end;
    align-items: stretch;
  }

  .container__col {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 2 - 24px);
    flex-basis: calc(100% / 12 * 2 - 24px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }

  .container__col {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 2 - 24px);
    flex-basis: calc(100% / 12 * 2 - 24px);
  }

  .container-2 {
    max-width: 1128px;
  }

  .container-2__item-xl {
    background-color: #8e857a;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 944px;
  }

  .container-2__item-lg {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 528px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .container__col {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 2 - 24px);
    flex-basis: calc(100% / 12 * 2 - 24px);
  }

  .container__col-2 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 12 - 24px);
    flex-basis: calc(100% / 12 * 12 - 24px);
  }

  .container__col-3 {
    box-sizing: border-box;
    flex: 0 0 auto;
    margin-left: 12px;
    margin-right: 12px;
    max-width: calc(100% / 12 * 12 - 24px);
    flex-basis: calc(100% / 12 * 12 - 24px);
  }

  .container-2__item-xs {
    background-color: #77f74a;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container-2 {
    max-width: 920px;
  }

  .container-2__item-lg {
    background-color: #de4c22;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-2 {
    max-width: 696px;
  }

  .container-2__item-md {
    background-color: #8a068f;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .container-2 {
    max-width: 504px;
  }

  .container-2__item-sm {
    background-color: #25656b;
  }
}