body
  font-family: "Roboto Medium", sans-serif

.section
  padding:
    top: 40px
    bottom: 40px
  &_grid
    +container()
  &_white
    background-color: #fff
  &_lite-gray
    background-color: #FAFAFA

  &__title
    font-size: 20px
    color: rgba(0, 0, 0, 0.87)
    margin-bottom: 1em

  &__description
    font-size: 14px
    color: rgba(#000000, 0.54)
    max-width: 90%
    margin-bottom: 2em
    line-height: 1.4
    span
      color: #03A9F4
      margin-left: 16px
      font-family: monospace

  &__example
    margin-bottom: 1em

  &__code
    +grid-in()
    h3
      border-bottom: 1px solid rgba(0, 0, 0, 0.38)
      padding-bottom: 16px
    pre
      +col()
      overflow-y: hidden
      background-color: #fff
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
      padding: 16px
      color: #03A9F4
