doctype html
html(lang='ru')
  include pug/head
  body
    // The structure of the html document
    include pug/header

    include pug/sections/training

    include pug/footer

    //script(type='text/javascript' src='js/prism.js')
    script(type='text/javascript' src='js/common.js')
