// Colors
$primary-color: #9E9E9E
$primary-dark-color: #616161
$secondary-color: #FAFAFA
$accent-color: #40C4FF

body
	font-family: Roboto, sans-serif
	background-color: $secondary-color
	margin: 0

.grid
	background-color: $primary-dark-color
	color: rgb(255, 255, 255)
	font-weight: bold
	&__col
		background-color: $accent-color
		padding: 15px
		border-radius: 2px
		margin:
			top: $margin/2
			bottom: $margin/2