head
  meta(charset='UTF-8')
  title Grid MD JS
  meta(name='description', content='')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

  // Template Basic Images Start
  meta(property='og:image', content='path/to/image.jpg')
  link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
  link(rel='apple-touch-icon', href='img/favicon/icon-57x57.png')
  link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/icon-72x72.png')
  link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/icon-114x114.png')

  // Load Styles
  link(rel='stylesheet', href='css/normalize.css')
  link(rel='stylesheet', href='css/gmdjs.css')
  link(rel='stylesheet', href='css/style.css')

  // Mixins
  include bemto/bemto
