=button($type: dense)
	background: 0 0
	border: none
	border-radius: 2px
	color: #000
	position: relative
	height: 36px
	margin: 0
	min-width: 64px
	padding: 0 16px
	display: inline-block
	font-family: "Roboto", "Helvetica", "Arial", sans-serif
	font-size: 14px
	font-weight: 500
	text-transform: uppercase
	letter-spacing: 0
	overflow: hidden
	will-change: box-shadow
	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1)
	outline: none
	cursor: pointer
	text-decoration: none
	text-align: center
	line-height: 36px
	vertical-align: middle
	&:hover
		background: rgba(158, 158, 158, .2)

	@if $type == dense
		font-size: 13px
		height: 32px
		line-height: 32px
	@else if $type == disable
		color: rgba(0, 0, 0, .26)
		cursor: default
		&:hover
			background: transparent
	@else if $type == base-color
		color: $gmd-primary-color
	@else if $type == base-accent
		color: $gmd-accent-color
	@else if $type == raise
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
		background: rgba(158, 158, 158, .2)
		&-disable
			background-color: rgba(0, 0, 0, .12)
			color: rgba(0, 0, 0, .26)
			cursor: default
			&:hover
				background-color: rgba(0, 0, 0, .12)
	@else if $type == color
		background: $gmd-primary-color
		color: #fff
		&:hover
			background: $gmd-primary-color
	@else if $type == accent
		background: $accent-color
		color: #fff
		&:hover
			background: $gmd-accent-color
	@else if $type == pill
		border-radius: 100px
		&:hover
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
		&-disable
			color: rgba(0, 0, 0, .26)
			background-color: rgba(0, 0, 0, .12)
			cursor: default
			&:hover
				color: rgba(0, 0, 0, .26)
				background-color: rgba(0, 0, 0, .12)
				box-shadow: none
